JIRA_URL=http://jira.lge.com/issue
CSR_JENKINS_ADMIN_ID=
CSR_JENKINS_ADMIN_PWD=

AZURE_OPENAI_ENDPOINT=
AZURE_API_KEY=
AZURE_DEPLOYMENT_NAME=dej/gpt-4o
AZURE_API_VERSION=2024-02-15-preview

GIT_PAGE_PASSWORD=

MONGO_API_BASE=https://delivery-portal-db-watcher.apps.hedej.lge.com
MONGO_API_TOKEN=
